DEBUG=true
ADDR=0.0.0.0:8080

DB_PATH=data/shareserver.db
BLOB_DIR=data/blobs

APP_SECRET=!INSECURE!_qweruiop12347890

# ADMIN_USER=
# ADMIN_PASSWORD=

MAX_UPLOAD_BYTES=314572800
STORAGE_CAP_BYTES=419430400

TRUST_PROXY_HEADERS=false

TZ=Asia/Shanghai
