{{ define "admin_login.html" }}
{{ template "base_top" . }}
<div class="grid">
	<div class="row">
		<span>01</span>
		<h1 data-i18n="admin.loginTitle"># Admin Login</h1>
	</div>

	<div class="row">
		<span>--</span>
		<div class="section-rule"></div>
	</div>

	<div class="row">
		<span>02</span>
		<form class="panel" method="post" action="/admin/login">
			<input type="hidden" name="csrf" value="{{.CSRF}}">

			<label data-i18n="admin.user">user</label>
			<input class="field-md" name="username">

			<label data-i18n="admin.password">password</label>
			<input class="field-md" type="password" name="password">

			<button class="field-md" data-i18n="admin.login">login</button>
		</form>
	</div>
</div>
{{ template "base_bottom" . }}
{{ end }}
